.productCard__mainCardContainer {
	margin: 10px;
}

.productCard__secondaryCardContainer {
	border: 2px solid grey;
	border-radius: 15px;
	padding: 20px;
}

.productCard__heartButton {
	padding-block-end: 20px;
	background-color: transparent;
    border: none;
    cursor: pointer;
}